<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <!-- <h2 id="userId"></h2> -->
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script> -->
        <!-- const socket = io();

        socket.on("log in greet", (userId) => {
            document.getElementById("userId").innerHTML = userId
        })
        alert(`${name}`) -->
    <!-- </script> -->
    <h1>Authenticated!</h1>
    <h3>Welcome, <%= name %>!</h3>
</body>
</html>