<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <p>Please provide your new password</p>
    <p>Email: <%= email %></p>
    <form action="/api/v1/password/reset" method="post">
        <div>
            <label for="user_email"></label>
            <input type="text" name="user_email" value="<%= email %>" id="user_email" hidden>
        </div>
        <div>
            <label for="user_new_password">New Password: </label>
            <input type="password" name="user_new_password" id="user_new_password">
        </div>
        <div>
            <label for="retype_new_user_password">Retype New Password: </label>
            <input type="password" name="retype_new_user_password" id="retype_new_user_password">
        </div>
    
        <div>
            <input type="submit" value="Confirm Password">
        </div>
    </form>
</body>
</html>